<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>{{ 'forms.login' | translate }}</h3>
    <hr>
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label>{{ 'forms.emailLabel' | translate }}</label>
        <input class="form-control" formControlName="email" type="text"></div>
      <div>
        {{ showEmailErrors() }}
      </div>
      <div class="mb-3">
        <label>{{ 'forms.passwordLabel' | translate }}</label>
        <input class="form-control" formControlName="password" type="password">
        <div>
          {{ showPasswordErrors() }}
        </div>
      </div>
      <div class="mb3">
        <button [disabled]="!loginForm.valid" class="btn btn-primary"
                type="submit">{{ 'buttons.login' | translate }}</button>
      </div>
    </form>
  </div>
</div>
