<div class="row">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr/>
    <form (ngSubmit)="onAddPost()" [formGroup]="postForm">
      <div class="mb-3">
        <label for="">Title</label>
        <input class="form-control" formControlName="title" type="text">
        <div>
          {{ showTitleErrors() }}
        </div>
      </div>
      <div class="mb-3">
        <label for="">Description</label>
        <textarea class="form-control" cols="30" formControlName="description" id="" name="" rows="5"></textarea>
        <div>
          {{ showDescriptionErrors() }}
        </div>
      </div>
      <div class="my-3">
        <button [disabled]="!postForm.valid" class="btn btn-primary" type="submit">Add Post</button>
      </div>
    </form>
  </div>
</div>
