<div class="row my-4">
  <div class="col-md-8">
    <h3>{{ 'posts.title' | translate }}({{ count | async }})</h3>
    <div><a [routerLink]="['/posts/add']" class="btn btn-primary" href="#">{{ 'buttons.addPost' | translate }}</a></div>
    <table *ngIf="posts | async as postsData" class="table table-striped">
      <thead>
      <tr>
        <th>{{ 'table.id' | translate }}</th>
        <th>{{ 'table.title' | translate }}</th>
        <th>{{ 'table.description' | translate }}</th>
        <th>{{ 'table.actions' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="postsData.length === 0">
        <td class="text-center" colspan="4">No posts available to show</td>
      </tr>
      <tr *ngFor="let post of postsData">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.description }}</td>
        <td>
          <div class="btn-group">
            <a [routerLink]="['edit', post.id]" class="btn btn-primary btn-sm"
               href="#">{{ 'buttons.update' | translate }}</a>
            <button (click)="onDeletePost(post.id)"
                    class="btn btn-danger btn-sm">{{ 'buttons.delete' | translate }}</button>
            <a [routerLink]="['details', post.id]" class="btn btn-info btn-sm"
               href="#">{{ 'buttons.details:' | translate }}</a>
          </div>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
